.img_grid {

    margin-top: 2vh;
    display: grid;
    grid-template-columns: 23vw 23vw 23vw;
    grid-auto-rows: 20vw;

    column-gap: 2vh;
    row-gap: 2vh;

}

.image_wrap {
    overflow: hidden;
    height: 100%;
    /* padding: 10% 0; */
    position: relative;
    opacity: 0.8;
    width: 100%;
}

.image_wrap>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
}