:root {
	--bgcolor: #B22F25;
	--white: #F2F2F0;
	--darkestRed: #490F0D;
	--font: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

* {
	font-family: var(--font);

	margin: 0px;
}

.loginHr {
	border-top: 1px solid white;
}


.loginDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.background {
	margin-top: -80px;
	height: 100vh;
	background: no-repeat center fixed;
	background-image: url("../../../pexels-alena-darmel-7223306.jpg");
	background-size: cover;
}

