#all {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #C4C4C4;
}

.info {
    display: flex;
    align-items: center;
}

.times {
    display: flex;
    padding-top: 2vh; 
    justify-content: space-between ;
    width: 40vw !important;
    width: 60%;
}

#header {
    margin-top: -80px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 5vh 5vh 5vh 5vh;
    background-image: linear-gradient(to bottom, rgba(256, 256, 256, 0), rgba(0, 0, 0, 50)), url("../../images/bqmfbsn2fpw51.jpeg");
    background-size: cover;
    height: 60vh;
    width: 100vw; 
    padding-left: 10vw;
    padding-right: 10vw;
}

#headerInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px; 

    height: 100%;
    width: 100vw;
    padding: 0;
}

.live {
    display: flex;
    padding-right: 1vw;

}

.liveTitle {
    padding-right: 1vw;
}

.restRating {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    gap: 10px; 
}

#activity {
    display: flex;
    flex-direction: row;
    gap: 10px; 
    align-items: center;
}

.statusBar {
    background: black;
    width: 200px;
    height: 25px;
    border-radius: 3px;
    padding-left: 15px;
}

#stars {
    display: flex;
}

.star {
    width: 30px;
    height: 30px;
}

.star2 {
    width: 25px;
    height: 25px;
}

#name {
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: 0;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin: 0;
    color: white;
}

#lower {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#bottom {
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem; 
    width: 100vw;
    height: 1500px;
    padding-top: 5vh;
    padding: 3vh 5vw 0 5vw
}

textarea {
    font-size: 20px;
    resize: none;
    width: 95%;
    background-color: #A3A3A3;
    color: white;
    min-height: 50vh;
    padding: 40px;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea:focus {
    outline: none;
}

#leftCol {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: none;
    background-color: #C4C4C4;
    padding: 50px 0 50px 20vw;
    margin-right: 2vw;
}

#MenuHolder {
    margin-top: 3vh
}

#holder {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

#menuName {
    margin-bottom: 20;
}

.menutitle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 1rem; 
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem; 
}

#menuCols {
    display: flex;
    justify-content: space-between;
    width: clamp(330px, 48vw, 800px);
    flex-wrap: wrap;
    padding-top: 3vh;
}

.star3 {
    height: 50px;
    width: 50px;
}

.col {
    background-color: #A3A3A3;
    width: 46vw;
    border-radius: 15px;
    column-count: auto;
    column-gap: 5vw;
    column-width: clamp(170px, 20vw, 200px); 
    padding: 3vw;
    color: white;
    line-height: 1.5;
    margin: 1rem; 
    padding: 2rem; 
}

ul {
    list-style-type: none;
}

#footer {
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: white;
    width: auto;
    height: 70px;
}

#reviewTop {
    padding: 30px 20px 20px 30px;
}

#reviews {
    display: flex;
    flex-direction: column;
    background-color: #A3A3A3;
    height: 145vh;
    border-radius: 15px;
    width: clamp(330px, 30vw, 500px); 
    margin-top: 3vh;
}

#reviewText {
    width: 200px;
    height: 100px;

}

#reviewFooter {
    background-color: #A3A3A3;
    height: 3vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.reviewName {
    padding-left: 10px;
}

#reviewHeader {
    display: flex;
    padding-bottom: 15px;
}

.review {
    display: flex;
    flex-direction: column;
    background-color: #8D8D8D;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1vh;
    font-size: 2px;
}

#reviewHolder {
    overflow-y: auto;
}

#submitRev {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    align-items: center;
    width: 95%;
}

.pp {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#return-to-homepage {
    padding: 60px 20px;
    margin: auto;
    width: 50%;
    margin-top: 20vh;
    text-align: center;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}