.review-box {
    width: 40vw;
    margin-left: -10vw;
    padding-right: 5vw;
    padding-left: 7vw;
    display: flex;
    flex-direction: column;
    background-color: #C4C4C4;
}

.review-header {
    font-size: 3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding-left: 1vh;
}

.review-field {
    background-color: #A3A3A3;
}

.review-post-btn {
    display: flex;
    justify-content: space-between;
    width: 10vw;
}

.bottom-row {
    display: flex;
    width: 40.5vw;
    flex-direction: row;
    justify-content: space-between;
}