#welcomeText {
    color:white; 
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#holdsAll {
    background: no-repeat center fixed;
    background-size: cover;
    background-image: url("./original.jpeg");
    width: 100;
    height: 100vh;
}

#wt {
    font-size: 4em;
    line-height: 1.3;
}

#username {
    font-size: 2em;
    color: white;
    font-weight: bold;
}